body{
    text-align: center;
}
#title{
    background-color: #ff4c68;
    font-family: 'Montserrat';
    color:white;
    
}

.container{
    padding: 3% 15%;
    padding-bottom: 7%;
}

h1 h2 h3{
    font-family: 'Montserrat-Bold';
    
    
}



.headings{
    font-family: 'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-size: 3rem;
    line-height: 1.5;
}
/* navigation bar */
.nav{
    
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
    
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-white';
}
/* Download button */
.Download-button{
    margin: 5% 3% 5% 0;
}
/* title-image */
.title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
    
    
}
/* featurs */
#features{
    
    background-color: white;
    position: relative;
    
}
.row{
    padding-top: 4.5rem;
}



.icon{
    color:#e26751;
    font-size: 4rem;
    padding-bottom: 1rem;
}

.icon:hover{
    color:#ff4c68;
}

/* testimonials */
#testimonials{
   padding: 3% 15% ;
    background-color: #ff4c68;
    color: white;

}
.carousel-item {
    text-align: center;
    
}


.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
    
}
/* press */
#press{
    background-color: #ff4c68;
    padding-bottom: 3% ;
    text-align: center;
}
.press-image{
    
    width: 10%;
    margin: 20px 20px 50px;
}
/* pricing */
#pricing{
    
}

.pricing-h{
    text-align: center;
}
/* call to action */
#cta{
    background-color: #ff4c68;
    font-family: 'Montserrat-Black';
    color:white;
    text-align: center;
   
}

#cta h3{
    font-size: 3rem;
}
/* footer */

#footer{
    padding: 3% 15%;
    text-align: center;
}

.social{
    font-size: 4.5rem;
    padding-bottom: 2%;
    color: #000;
    
}

@media (max-width:1324px) 
{
    .title-image{
        
        
        width: 60%;
       position: static;
        transform: rotate(0);
        
        
    }
    #title{
        
        text-align: center;
    }
    
}

